# MongoDB Connection String
# Replace with your actual MongoDB connection string
MONGODB_URI=YOUR_MONGODB_URL

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET_KEY



GEMINI_API_KEY=YOUR_GEMINI_API_KEY
